@use 'utils/mixins' as mixins;
@use 'vars/variables' as *;
@use 'vars/breakpoints' as *;
@use 'utils/effects';
@use 'utils/doomguy';
@use 'utils/popup';
@use 'utils/the9999';
@use 'pages/scores';
@use 'pages/about';

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Fixes for mobile body height */
  min-height: 100vh; /* Base fallback */
  min-height: 100dvh; /* dynamic height of viewport */
  min-height: 100svh; /* stable height */

  background: #fbf8ef;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;

  user-select: none;
}

.field-cell {
  // skip width, size will be calculated based on table
  height: var(--field-cell-size);
  width: var(--field-cell-size);
  min-width: var(--field-cell-size);
  max-width: var(--field-cell-size);
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  color: #776e65;
  background: #d6cdc4;
  border-radius: 15px;
  white-space: nowrap;
  overflow: hidden;

  // same width of chars (numbers)
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum' 1;

  &--2 {
    background: #eee4da;
  }

  &--4 {
    background: #ede0c8;
  }

  &--8 {
    background: #f2b179;
    color: #f9f6f2;
  }

  &--16 {
    background: #f59563;
    color: #f9f6f2;
  }

  &--32 {
    background: #f67c5f;
    color: #f9f6f2;
  }

  &--64 {
    background: #f65e3b;
    color: #f9f6f2;
  }

  &--128 {
    background: #edcf72;
    color: #f9f6f2;
  }

  &--256 {
    background: #edcc61;
    color: #f9f6f2;
  }

  &--512 {
    background: #edc850;
    color: #f9f6f2;
  }

  &--1024 {
    background: #edc53f;
    color: #f9f6f2;
  }

  &--2048 {
    background: #edc22e;
    color: #f9f6f2;
  }
}

.game-field {
  /** content has no influence on cell size */
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: var(--field-border-spacing);
  background: #776e65;
  border-radius: 15px;
  caret-color: transparent;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 36px;
  padding: 10px;
  box-sizing: border-box;
  background: #d6cdc4;
  border-radius: 15px;
  border: 1px solid #a6a6a6;

  h1 {
    width: 75px;
    height: 75px;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #a6a6a6;
  }

  /* stylelint-disable selector-max-id */
  #logo {
    background: #edc22e;
    color: #f9f6f2;
    cursor: pointer;
  }
  /* stylelint-enable selector-max-id */

  /* stylelint-disable selector-max-id */
  #about {
    /* wave used the color of text (currentColor) */
    --ripple-color: color-mix(in srgb, currentColor 60%, transparent);

    position: relative;
    width: 75px;
    height: 75px;
    background: #008c8c;
    color: #0ff;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  /* stylelint-enable selector-max-id */

  /* Each new wave - the separate span */
  /* stylelint-disable selector-max-id */
  #about .ripple {
    position: absolute;
    top: 49%;
    left: 49%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 2px solid var(--ripple-color);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    animation: ripple 4s ease-out infinite;
  }
  /* stylelint-enable selector-max-id */

  @keyframes ripple {
    0% {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0.7;
    }
    70% {
      opacity: 0.3;
    }
    100% {
      transform: translate(-50%, -50%) scale(3.5);
      opacity: 0;
    }
  }
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #776e65;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #fff;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;
  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  border: 1px solid #a6a6a6;
  font-size: 19px;
  font-weight: 700;

  &:hover {
    background: #1e711a;
  }

  &[disabled] {
    background: #1e711a;
    cursor: not-allowed;
  }
}

@keyframes damped-bounce {
  0% {
    left: 0;
  }
  25% {
    left: calc(100% - 50px);
  }
  50% {
    left: 0;
  }
  70% {
    left: calc(80% - 50px);
  }
  85% {
    left: 0;
  }
  100% {
    left: calc(60% - 50px);
  }
}

.restart {
  background: #ffa500;
  border: 1px solid #a6a6a6;

  &:hover {
    background: #ff6b00;
    animation: damped-bounce 2s ease-in-out forwards;
  }

  div {
    width: fit-content;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  margin: 0;
  border: 1px solid #a6a6a6;
  align-content: space-evenly;
}

.hidden {
  display: none !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 690px;
  min-height: 690px;
}

.message-win {
  background: #1dae28;
  color: #f9f6f2;
}

.message-lose {
  background: #ae1d28;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.game-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  touch-action: none;
}

.doomguy {
  min-height: 68px;
  width: auto;
  height: auto;
  aspect-ratio: 31 / 40;
}

.bottom-container {
  display: flex;
  flex-flow: row;
  margin-top: 25px;

  .doomguy {
    margin-left: 10px;
  }
}

.shift {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #776e65;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  position: absolute;
  transition: background-color 0.2s;
  cursor: pointer;
}

.shift-mobile-container {
  display: none;
}

.shift-mobile-grid {
  td {
    width: 40px;
    height: 40px;
  }
}

.shift--mobile {
  width: 40px;
  height: 40px;
  background-color: #776e65;
  transition: background-color 0.2s;
  cursor: pointer;
  margin-bottom: 5px;

  &.shift-up {
    height: 40px;
    clip-path: polygon(45% 5%, 5% 95%, 95% 95%);
    transform: none;
  }
  &.shift-right {
    height: 40px;
    clip-path: polygon(5% 5%, 5% 95%, 95% 45%);
    transform: none;
  }
  &.shift-down {
    height: 40px;
    transform: none;
    clip-path: polygon(45% 95%, 95% 5%, 5% 5%);
  }
  &.shift-left {
    height: 40px;
    transform: none;
    clip-path: polygon(95% 95%, 95% 5%, 5% 45%);
  }
}

.shift:hover {
  background-color: #d6cdc4;
}

.shift-up {
  clip-path: polygon(
    50% 0%,
    100% var(--arrow-thickness),
    0% var(--arrow-thickness)
  );
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.shift-down {
  clip-path: polygon(
    0% var(--arrow-offset),
    100% var(--arrow-offset),
    50% 100%
  );
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.shift-left {
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(
    0% 50%,
    var(--arrow-thickness) 0%,
    var(--arrow-thickness) 100%
  );
}

.shift-right {
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(
    var(--arrow-offset) 0%,
    100% 50%,
    var(--arrow-offset) 100%
  );
}

@include mixins.on-mobile {
  .game-header {
    margin-bottom: 10px;
  }

  .bottom-container {
    margin-top: 0;

    .doomguy {
      display: none;
    }
  }

  .shift {
    display: none;
  }
  .shift-mobile-container {
    justify-content: center;
    display: flex;
    margin-bottom: 10px;

    .doomguy {
      height: 40px;
      width: 31px;
      margin-left: auto;
      margin-right: auto;
      min-height: auto;
    }
  }

  .message-container {
    margin-top: 0;
  }
}

@include mixins.not-supported {
  /* Push content below the banner height */
  body {
    padding-top: 56px; /* match the banner height */
  }

  /* The banner itself */
  body::before {
    content: 'This app works best on screens with a resolution of [360px] x [690px] or higher.';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 56px;
    padding: 0 16px;
    box-sizing: border-box;

    background: #111;
    color: #fff;
    font:
      700 14px/1.2 system-ui,
      -apple-system,
      'Segoe UI',
      Roboto,
      sans-serif;
    text-align: center;

    z-index: 9999;
  }
}

.about-cta {
  cursor: pointer;

  .water-container {
    margin-top: -2px;
    margin-left: -2px;
  }
}

.about-container {
  box-sizing: border-box;
  color: #776e65;
  text-align: center;
  background: #d6cdc4;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  align-content: space-evenly;
  width: 100%;
  height: 462px;
  margin: 0;
  padding: 10px;
  font-size: 20px;
}

.window-wrapper {
  max-height: 462px;
  height: 462px;
  overflow-y: auto;
}
