@keyframes doomguy-expression {
  0% {
    background-position-x: 66.6%;
  }
  50% {
    background-position-x: 33.3%;
  }
  70% {
    background-position-x: 66.6%;
  }
  80% {
    background-position-x: 100%;
  }
}

.doomguy {
  position: relative;
  display: block;
  height: 248px;
  width: 192px;
  background-image: url(../images/sprite/doom-guy.webp);
  background-position-x: 0;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: 404% 505%;
  filter: drop-shadow(0 5px 10px black);
  transition:
    transform 0.5s cubic-bezier(0.33, 1.69, 0.69, 1),
    filter 0.5s cubic-bezier(0.33, 1.69, 0.69, 1);

  animation-name: doomguy-expression;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

.doomguy[data-health^='3'],
.doomguy[data-health^='4'] {
  background-position-y: 75%;
}

.doomguy[data-health^='5'],
.doomguy[data-health^='6'] {
  background-position-y: 50%;
}

.doomguy[data-health^='7'],
.doomguy[data-health^='8'] {
  background-position-y: 25%;
}

.doomguy[data-health^='9'],
.doomguy[data-health='100'] {
  background-position-y: 0;
}

.doomguy:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 10px 12px rgba(0, 0, 0, 0.8));
  animation-name: none;
}
